.expenditure table {
    padding-left: 0;
    padding-right: 10px;
    font-size: 80%;
}

header .amount { 
    color: #fff;
}

.expenditure .reason {
    padding-left: 10px;
}

.expenditure .user {
    padding-left: 10px;
}

.expenditure .amount {
    padding-left: 10px;
    color: greenyellow;
}